body {
  margin: 0 0 40px 0;
  padding: 0;
  background: white;
  background: url("../images/background2.jpg");
  background-attachment: fixed;
}
#background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  z-index: 0;
}
#content {
  padding: 50px 0 4em 0;
  margin: 0;
  width: 100%;
}
.navbar-inverse .navbar-brand {
  color: #d9534f;
}
html {
  position: relative;
  min-height: 100%;
}
.anchor {
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #222222;
  border-top: 1px solid #080808;
  text-align: center;
}
#footer p {
  margin: 0;
  line-height: 39px;
}
#home-carousel {
  margin: auto;
  max-width: 1300px;
  min-height: 400px;
}
#home-carousel .item {
  width: 100%;
  overflow: hidden;
}
#home-carousel img {
  margin: auto;
  min-height: 400px;
  min-width: 800px;
}
.carousel-caption {
  top: 4em;
}
.carousel-caption .jumbotron {
  margin: 0;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 1em;
  color: #333333;
  text-shadow: none;
  max-height: 270px;
}
#page-descriptions {
  margin-top: 1em;
  text-align: center;
}
#sidebar {
  margin-top: 5%;
  text-align: center;
  z-index: 10;
}
#sidebar .list-group-item {
  padding: 0.5em;
  border-color: #080808;
}
#sidebar p {
  background-color: #222222;
  color: white;
  font-weight: bold;
}
.featurette {
  margin: 4em 2em;
  background: white;
  border-radius: 1em;
  padding: 2%;
}
.featurette .vertical-middle {
  margin: 0;
  padding: 0 1%;
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.vertical-middle a {
  margin: auto;
  padding: auto;
  vertical-align: middle;
}
#galContent{
  padding-right: 10%
}
.breadcrumb {
  margin-top: 2%;
}
.recimg {
  float: right;
  width: 50%;
}
.thumbnail .caption {
  margin: 0;
  padding: 2px;
  text-align: center;
}
/*this is for the validion in the form*/
@import url('./css/bootstrap.min.css');
@import url('./css/bootstrap-responsive.min.css');
label.valid {
  width: 24px;
  height: 24px;
  background: url(../images/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
