body {
  margin: 0;
  padding: 50px 0 800px 0;
  background: #F0F0F0;
  background: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

html {
  position: relative;
  min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #222222;
  border-top: 1px solid #080808;
  text-align: center;
}

#footer p {
  margin: 0;
  line-height: 40px;
}

#home-carousel {
  position: absolute;
  top: 50px;
}

#home-carousel .item {
  height: 550px;
  width: 100%;
  overflow: hidden;
}

#home-carousel img {
  margin: auto;
  height: 550px;
  min-width: 100%;
  /*overflow: hidden;*/
}

.jumbotron {
  margin-top: 8em;
  margin-bottom: 12em;
  padding: 2em;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 1em;
  text-align: center;
}

#page-descriptions {
  margin-bottom: 2em;
  text-align: center;
}

#navbar-container {
  margin-top: 2em;
  text-align: center;
}

#navbar-container .list-group-item {
  padding: 0.5em;
  border-color: #080808;
}

#navbar-container p {
  background-color: #222222;
  color: white;
  font-weight: bold;
}

.featurette {
  margin-top: 4em;
  margin-bottom: 4em;
}